<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bomb_Explode_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{78,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{78,78}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>Bomb_Explode_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{80,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>Bomb_Explode_03</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{82,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>Bomb_Explode_04</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{82,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>Bomb_Explode_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>Bomb_Tick_01</key>
            <dict>
                <key>frame</key>
                <string>{{82,202},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>Bomb_Tick_02</key>
            <dict>
                <key>frame</key>
                <string>{{82,185},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>Bomb_Tick_03</key>
            <dict>
                <key>frame</key>
                <string>{{82,166},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bomb@2x.png</string>
            <key>size</key>
            <string>{254,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:255a7986e5f44b88c22ac6bc45b089f8$</string>
            <key>textureFileName</key>
            <string>Bomb@2x.png</string>
        </dict>
    </dict>
</plist>
