<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bomberman_01</key>
            <dict>
                <key>frame</key>
                <string>{{89,66},{47,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{47,62}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
            <key>Bomberman_02</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{46,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,62}}</string>
                <key>sourceSize</key>
                <string>{52,64}</string>
            </dict>
            <key>Bomberman_03</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{47,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{47,62}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
            <key>Bomberman_04</key>
            <dict>
                <key>frame</key>
                <string>{{81,134},{47,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{47,62}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
            <key>Bomberman_05</key>
            <dict>
                <key>frame</key>
                <string>{{177,105},{37,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{37,62}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
            <key>Bomberman_06</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{36,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{36,64}}</string>
                <key>sourceSize</key>
                <string>{52,64}</string>
            </dict>
            <key>Bomberman_07</key>
            <dict>
                <key>frame</key>
                <string>{{177,66},{37,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{37,62}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
            <key>Bomberman_08</key>
            <dict>
                <key>frame</key>
                <string>{{50,68},{37,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{37,64}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
            <key>Bomberman_09</key>
            <dict>
                <key>frame</key>
                <string>{{138,51},{37,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{37,62}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
            <key>Bomberman_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{38,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{38,64}}</string>
                <key>sourceSize</key>
                <string>{52,64}</string>
            </dict>
            <key>Bomberman_11</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{37,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{37,62}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
            <key>Bomberman_12</key>
            <dict>
                <key>frame</key>
                <string>{{42,134},{37,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{37,64}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
            <key>Bomberman_13</key>
            <dict>
                <key>frame</key>
                <string>{{66,200},{47,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{47,62}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
            <key>Bomberman_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{46,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{52,64}</string>
            </dict>
            <key>Bomberman_15</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{47,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{47,62}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
            <key>Bomberman_16</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,64}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bomberman@2x.png</string>
            <key>size</key>
            <string>{242,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfd207a90c5ce6b3f528a1c04ed73d3e$</string>
            <key>textureFileName</key>
            <string>Bomberman@2x.png</string>
        </dict>
    </dict>
</plist>
