<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bomberman_01</key>
            <dict>
                <key>frame</key>
                <string>{{54,70},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>Bomberman_02</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>Bomberman_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>Bomberman_04</key>
            <dict>
                <key>frame</key>
                <string>{{30,36},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>Bomberman_05</key>
            <dict>
                <key>frame</key>
                <string>{{100,36},{20,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>Bomberman_06</key>
            <dict>
                <key>frame</key>
                <string>{{80,70},{20,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>Bomberman_07</key>
            <dict>
                <key>frame</key>
                <string>{{70,104},{20,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>Bomberman_08</key>
            <dict>
                <key>frame</key>
                <string>{{78,36},{20,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>Bomberman_09</key>
            <dict>
                <key>frame</key>
                <string>{{56,36},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>Bomberman_10</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>Bomberman_11</key>
            <dict>
                <key>frame</key>
                <string>{{36,104},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>Bomberman_12</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>Bomberman_13</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>Bomberman_14</key>
            <dict>
                <key>frame</key>
                <string>{{28,70},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>Bomberman_15</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>Bomberman_16</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bomberman.png</string>
            <key>size</key>
            <string>{126,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3891ccb11a8741e03e0c603fb818fd07$</string>
            <key>textureFileName</key>
            <string>Bomberman.png</string>
        </dict>
    </dict>
</plist>
